.style-card{
    position: relative;
    background-color: #525252;
    color: white;
    width: 100% !important;
}

.brand-card{
    width: 120px;
    position: absolute;
    top: -60px;
    left: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;

    /* width: "120px",
                                position: "absolute",
                                top: "-60px",
                                left: "25%",
                                padding: "20px",
                                backgroundColor: "white",
                                height: "120px",
                                borderRadius: "50%",
                                overFlow: "hidden",
                                border: "1px solid gray" */
}